<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>COVID-19 Tracker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">CORONA VIRUS REAL TIME UPDATES</h1>
  <p class="w3-xlarge">
  </p>
  <form action="/search.htm">
  	<div class="active-cyan-3 active-cyan-4 mb-4">
  		<input class="form-control" type="text" placeholder="Search Country" name="country" aria-label="Search Country">
  		<input id="search" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit"  value="Search" >
	</div>
  </form>
</header>
<div th:if="${flag == 'true'}" id="records" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
  	<table class = "table striped">
	    	<tr>
	    		<th>Country</th>
	    		<th>Cases Identified</th>
	    		<th>Confirmed Cases</th>
	    		<th>Deaths</th>
	    		<th>Recovered Cases</th>
	    	</tr>
	    	<tr >
	    			<td th:text="${country}"></td>
	    			<td th:text="${cases}">0</td>
	    			<td th:text="${confirmedCases}">0</td>
	    			<td th:text="${deaths}">0</td>
	    			<td th:text="${recovered}">0</td>
	    	</tr>
	</table>
  	<!--  <p class="lead">
		  <h3>Number of cases spotted</h3>
		  <span th:text="${cases}"></span>
		  <h3>Number of suspected cases</h3>
		  <span th:text="${suspectedCases}"></span>
		  <h3>Number of confirmed cases</h3>
		  <span th:text="${confirmedCases}"></span>
		  <h3>Number of deaths</h3>
		  <span th:text="${deaths}"></span>
		  <h3>Number of recovered cases</h3>
		  <span th:text="${recoverd}"></span>
	</p>-->
  </div>
 </div>
<script>
// Used to toggle the menu on small screens when clicking on the menu button

function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>