<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>COVID-19 Tracker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.btn {
      font-size:0.875em;
      display:block;
      left:-60px;
      margin-top:35px;
      width:100%;
    }
</style>
<body>
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">CORONA VIRUS REAL TIME UPDATES</h1>
  <form action="/search.htm">
  	<div class="active-cyan-3 active-cyan-4 mb-4">
  		<input class="form-control" type="text" placeholder="Search Country" name="country" required aria-label="Search Country">
  		<input id="search" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit"  value="Search" >
	</div>
  </form>
  <form action="/searchIndianState.htm">
  	 <div >
  		<!--<button  id="searchIndia" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style = "{height:10px;font-size:2px}" type="submit">CLICK HERE TO VIEW STATE AND UT WISE UPDATES FOR INDIA</button>-->
  		<input id="searchIndia" align= "left" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style = "{height:10px;font-size:2px}" type="submit" value="View State & UT wise cases in India" >
  	</div> 
  </form>
</header>
<div class="jumbotron" th:if="${flag == 'error'}">
	<p class="lead" th:text="${message}"></p>
</div>
<div class="jumbotron" th:if="${flag == 'errorCase'}">
	<p class="lead" th:text="${message}"></p>
</div>
<div th:if="${flag == 'true'}" id="records" class="table-responsive">
  <div class="w3-content">
  	<table class = "table table-striped">
	    	<tr>
	    		<th>Country</th>
	    		<th>Cases Identified</th>
	    		<th>Active Cases</th>
	    		<th>Deaths</th>
	    		<th>Recovered Cases</th>
	    		<th>Last Updated</th>
	    	</tr>
	    	<tr >
	    			<td th:text="${country}"></td>
	    			<td th:text="${cases}">0</td>
	    			<td th:text="${confirmedCases}">0</td>
	    			<td th:text="${deaths}">0</td>
	    			<td th:text="${recovered}">0</td>
	    			<td th:text="${lastUpdated}">0</td>
	    	</tr>
	</table>
  </div>
  
 </div>
 <div th:if="${flag == 'indianCases'}" id="recordsIndia" class="table-responsive">
  <div class="w3-content">
  	<div class="jumbotron">
		<h3 class="lead" align="center" > End Day Report for India </h3>
  		<span class="lead" >On the date of </span> <span class ="lead" th:text="${previousDayCases.previousDay}"></span>
  		<span class="lead" >. The number of new cases confirmed were </span><span class ="lead" th:text="${previousDayCases.previousConfirmed}"></span>
  		<span class="lead"  >. The number of new deaths reported were </span><span class ="lead" th:text="${previousDayCases.previousDeaths}"></span>
  		<span class="lead" >. The number of people recovered on that day were </span><span class ="lead" th:text="${previousDayCases.previousRecovered}"></span>
  	</div>
  	<table class = "table table-striped">
	    	<tr>
	    		<th>State</th>
	    		<th>Confirmed</th>
	    		<th>Active</th>
	    		<th>Deaths</th>
	    		<th>Recovered</th>
	    	</tr>
	    	<tr th:each = "indianCase : ${indianCases}">
	    			<td th:text="${indianCase.state}"></td>
	    			<td th:text="${indianCase.confirmed}"></td>
	    			<td th:text="${indianCase.active}"></td>
	    			<td th:text="${indianCase.deaths}"></td>
	    			<td th:text="${indianCase.recovered}"></td>
	    	</tr>
	</table>
	<p id = "source" class="lead" align="center" style="font-size:10px">Source - https://www.covid19india.org/</p>
  </div>
  
 </div>
<script>
// Used to toggle the menu on small screens when clicking on the menu button

function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>